*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 8px;
  left: 0;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.logo{
  background-image: url("../img/logo.jpg");
  width: 60px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin: 3px;
}

.undertalegif{
  left: 10px;
  width: 15vw;
  position: absolute;
  max-width: 200px;
}

.sans_undertale{
  width: 15vw;
  position: absolute;
  right: 0px;
  max-width: 200px;
}

.spacer{
  height: 50px;
}

.boxTitle{
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin: 15px;
}

.home-welkom{
  text-align: center;
  color: white;
  max-width: 1500px;
  margin: 0 auto;
  padding: 25px;
}

.small-hr{
  width: 15%;
  background-color: grey;
  border: 1px solid grey;
}

body{
  background-color: #23272a;
}

#nav-mobile{
  display: none;
}

#mobile-headerbar{
  display: none;
  height: 50px;
  position: fixed;
  z-index: 100;
  width: 100vw;
  background-color: rgba(0,0,0, 0.7);
  color: white;
  top: 0;
}

#mobile-headerbar i{
  line-height: 50px;
  position: absolute;
  left: 50px;
  cursor: pointer;
  font-size: 30px;
}


.nav-container{
  position: fixed;
  width: 100vw;
  background-color: rgba(119,119,119, 0.9);
  z-index: 100;
  top: 0;
}
#desktop-nav{
  position: relative;
  margin: 0 auto;
  display: flex;
  height:60px;
  width: 60vw;
  top: 0;
  justify-content: space-around;
  z-index: 99;
}

#desktop-nav a{
  text-decoration: none;
  color: black;
  line-height: 60px;
}

#desktop-nav a .right{
  float: right;
}

#nav-mobile{
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: grey;
  z-index: 100;
  position: fixed;
  animation: 0.6s openmobNav ease-out;
  top:0;
}

#nav-mobile #mobile-headerbar{
 position: relative;
 color: white ;
 font-size: 30px;
}

@keyframes openmobNav {
  0%{
    transform: translateX(-50vw);
  }

  60%{
    transform: translateX(00px);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}

#nav-mobile a{
  display: grid;
  grid-template-rows: auto auto auto;
  width: 50vw;
  margin: 0 auto;
  text-align:  center;
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding-top: 15px;
}

/*slideshow style*/
/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.slideshowImg{
width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideshow-text {
  margin: 0 auto;
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: black;
  width: 40%;
  opacity: 0.8;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*end slideshow style*/

/*Height needs to be removed*/
.carousel-item{
  height: 50vh;
}

.a-cards-container{
display: grid;
grid-template-columns:auto auto auto auto;
width: 75vw;
grid-gap: 15px;
margin: 0 auto;
}

.a-cards-container a{
  text-decoration: none;
}

.a-cards-container .a-cards{
  width: 275px;
  height: auto;
  margin: 0 auto;
  background-color: #2c2f33;
  text-align: center;
  color: white;
  overflow: hidden;
  border-radius: 15px;
  padding: 20px;
  transition: 0.25s;
  font-size: 13px;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.a-cards img{
  width: 100%;
}


.a-cards:hover{
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  transition: 0.25s;
  cursor: pointer;
}

/*----- Ranking -----*/

.ranking{
  background-color: #444444;
  border-radius: 50%;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  color: black;
}


/* ---------login--------- */

/*loginscreen bg*/
.loginscreen-bg{
  background-image: url("../img/minecraft.jpg");
}

.login-titel{
  text-align: center;
  color: white;
  padding: 15px;
}

.login-form{
  text-align: center;
  padding: 15px;
  max-width: 400px;
  margin: 0 auto;
  color: white;
  background-color: rgba(102, 102, 102, 0.8);
  border-radius: 25px;
}

.login-form input{
  margin: 25px;
  background-color: #444444;
  border: 2px solid grey;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
  color: lightgrey;
}



/*ingelogde pagina*/
.dashboard-title{
  text-align: center;
  color: grey;
  margin: 25px;
  font-size: 45px;
}

.addcontent-form{

}


.addcontent-form input, .addcontent-form textarea, .addcontent-form select{
  background-color: #555;
  border: 1px solid #444;
  padding: 5px;
}

.addcontent-form textarea{
  max-width: 40vw;
}

/* Game specifiek page */
.titel_gamespecifiek{
  color: white;
  text-align: center;
  font-size: 50px;
}

.genre_gamespecifiek{
  color: darkgrey;
  text-align: center;
}

.img-gamespecifiek{
  display: block;
  margin: 0 auto;
  width: 80%;
}

.releasedate_gamespecifiek{
  font-size: 15px;
  text-align: center;
  color: grey;
}

.hr_gamespecifiek {
  width: 60%;
}


.omschrijving_big_gamespecifiek{
width: 75vw;
max-width: 1200px;
margin: 0 auto;
color: lightgrey;
text-align: left;
}
/*Kopteksten*/
.omschrijving_big_gamespecifiek h1{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: white;
}
/*Tussenkopjes*/
.omschrijving_big_gamespecifiek h3{
  font-family: 'Press Start 2P', cursive;
  text-decoration: underline;
  text-align: left;
  color: white;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: auto;
  position: relative;
}

.boxbtns{
  position: static;
  display: flex;
  justify-content: space-around;
  width: 75vw;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #888888;
  border-radius: 25px;
}

.tablink:hover {

}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  width: 75vw;
  margin: 0 auto;
  position: relative;
  border-radius: 25px;
}

#Home, #News, #Contact, #About {background-color: #777777;}

/*Contact*/
.container-accordion{
width: 60vw;
margin: 0 auto;
}

.accordion {
  background-color: #444444;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 10px;
}

.active, .accordion:hover {
  background-color: #333333;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #666666;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*Footer*/
.h3-ftr-logo{
  font-family: 'Anton', sans-serif;
  font-size: 50px;
}

footer{
  background-color: rgb(80, 80, 80);
  height: auto;
  text-align: center;
  color: rgb(5, 5, 5);
}

.footer-container{
  max-width: 1500px;
  padding: 50px;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.social-icons-ftr{
  font-size: 75px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 85%;
  text-align: center;
  border: 1px solid grey;
}

.footer-list{
  float:left;
  text-align: left;
  list-style: none;
  min-width: 175px;
}

.mail-ftr i, .github-ftr i, .linkedin-ftr i{
  transition: 0.25s;
}

.mail-ftr i:hover{
  background-color: #c71610;
  transition: 0.5s;
}

.linkedin-ftr i:hover{
  background-color: #0077B5;
  transition: 0.5s;
}

.github-ftr i:hover{
  background-color: #333;
  transition: 0.5s;
}

.footer-list a{
  text-decoration: none;
  color: rgb(5, 5, 5);
}

.footer-list a:hover{

}

.footer-list li{
  padding: 10px;
}

.footer-list:nth-child(1){
  padding-right: 50px;

}

.footer-list:nth-child(2){
  border-left: 2px solid rgb(20, 20, 20);
  padding-right: 50px;
  padding-left: 50px;
}

.footer-list:nth-child(3){
  border-left: 2px solid rgb(20, 20, 20);
  padding-left: 50px;
}

.footer-list i{
  font-size: 25px;
  height:40px;
  width: 40px;
  background-color: rgb(65,65,65);
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}


.ftr-copy{
    width: 50vw;
    text-align: center;
    margin: 0 auto;
}


.copy-container{
  background-color: rgb(65, 65, 65);
  padding: 20px;
  display: flex;
  justify-content: center;
}



@media only screen and (max-width:1500px) {

.a-cards-container{
  grid-template-columns: auto auto auto;
}

/*gamespecifiek*/
.titel_gamespecifiek{
  color: white;
  text-align: center;
  font-size: 30px;
}

.genre_gamespecifiek{
  color: darkgrey;
  text-align: center;
}

.img-gamespecifiek{
  display: block;
  margin: 0 auto;
  width: 90%;
}

.omschrijving_big_gamespecifiek{
width: 85vw;
margin: 0 auto;
color: white;
}

}

@media only screen and (max-width:1100px) {
  .a-cards-container{
    grid-template-columns: auto auto;
  }

  .img-gamespecifiek{
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .footer-container{
  flex-direction: column;
  padding: 10px;
}

.footer-list{
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
}

.footer-list:nth-child(1){
  border: none;
  padding: 0;
  padding-top: 25px;
}

.footer-list:nth-child(2){
  border: none;
}

.footer-list:nth-child(3){
  border: none;
  padding: 0;
  padding-top: 25px;
}
}

@media only screen and (max-width:750px) {
  .a-cards-container{
    grid-template-columns: auto;
  }

  #desktop-nav{
    display: none;
  }

  #mobile-headerbar{
    display: block;
  }

  #nav-mobile{
  display: none;
}

.login-form{
  text-align: center;
  padding: 15px;
  max-width: 250px;
  margin: 0 auto;
  color: white;
  background-color: rgba(102, 102, 102, 0.8);
  border-radius: 25px;
}

.login-form input{
  margin: 25px;
  background-color: #444444;
  border: 2px solid grey;
  padding: 5px;
  width: 50%;
  text-align: center;
  border-radius: 25px;
  color: lightgrey;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 10px;
  width: auto;
  position: relative;
}

.boxbtns{
  position: static;
  display: flex;
  justify-content: space-around;
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius:0px;
}

.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  border-radius: 0px;
}

.sans_undertale{
  width: 15vw;
  position: static;
  display: block;
  margin: 0 auto;
  right: 0px;
}

.undertalegif{
  display: block;
  position: static;
  margin: 0 auto;
  left: 10px;
  width: 15vw;
}

}

@media only screen and (max-width:400px) {
  .a-cards-container{
    grid-template-columns: auto;
  }
}
