*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 8px;
  left: 0;
  background-color: white;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.spacer{
  height: 50px;
}

body{
  background-color: #23272a;
}


.nav-container{
  position: fixed;
  width: 100vw;
  background-color: rgba(119,119,119, 0.9);
  z-index: 100;
}
nav{
  position: relative;
  margin: 0 auto;
  display: flex;
  height:50px;
  width: 60vw;
  top: 0;
  justify-content: space-around;
  z-index: 99;
}

nav a{
  text-decoration: none;
  color: black;
  line-height: 50px;
}

nav a .right{
  float: right;
}



/*Height needs to be removed*/
.carousel-item{
  height: 50vh;
}

.a-cards-container{
display: grid;
grid-template-columns:auto;
width: 90vw;
grid-gap: 15px;
margin: 0 auto;
}

.a-cards-container .a-cards{
  width: 275px;
  height: auto;
  margin: 0 auto;
  background-color: #2c2f33;
  text-align: center;
  color: white;
  overflow: hidden;
  border-radius: 15px;
  padding: 20px;
  transition: 0.25s;
  font-size: 13px;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.a-cards img{
  width: 100%;
}


.a-cards:hover{
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  transition: 0.25s;
  cursor: pointer;
}


/* ---------login--------- */
.login-titel{
  text-align: center;
  color: white;
  padding: 15px;
}

.login-form{
  text-align: center;
  padding: 15px;
  max-width: 400px;
  margin: 0 auto;
  color: white;
  background-color: #666666;
  border-radius: 25px;
}

.login-form input{
  margin: 25px;
  background-color: grey;
  border: 2px solid grey;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
}


/*
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .a-cards-container{
  grid-template-columns: auto auto;

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .a-cards-container{
  grid-template-columns: auto auto;

 }

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .a-cards-container{
  grid-template-columns: auto  auto auto;

 }

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  .a-cards-container{
  grid-template-columns: auto auto auto auto;

 }

 }
